<header>
  <div class="inner">
    <h1 class="logo">
      <a href="index.html">
        <img src="assets/images/common/logo.png" alt="LIGHTCHASER" />
      </a>
    </h1>

    <button class="btn-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="gnb">
      <ul>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="project.html">PROJECTS</a></li>
        <li><a href="team.html">THE CHASERS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
